{% load static %}

<form class="text-center" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="mb-3">
    <input class="form-control" type="text" id="username" name="username" placeholder="Username" />
  </div>
  <div class="mb-3">
    <input class="form-control" type="password" id="password" name="password" placeholder="Password" />
  </div>
  <div class="mb-3">
    <button class="btn btn-primary d-block w-100" type="submit">Login</button>
  </div>
  <p class="text-muted">Forgot your password?</p>
</form>

{% if messages %}
  <div class="alert alert-primary" role="alert">
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}