{% load static %}

<form style="padding-bottom: 0px; margin-bottom: 25px">
  <div
    class="input-group"
    style="padding-left: 40px; padding-right: 40px"
  >
    <span class="input-group-text">Nombre de usuario</span
    ><input class="form-control" type="text" />
  </div>
  <p></p>
  <div
    class="input-group"
    style="padding-left: 40px; padding-right: 40px"
  >
    <span class="input-group-text">Nombres</span
    ><input class="form-control" type="text" />
  </div>
  <p></p>
  <div
    class="input-group"
    style="padding-left: 40px; padding-right: 40px"
  >
    <span class="input-group-text">Apellidos</span
    ><input class="form-control" type="text" />
  </div>
  <p></p>
  <div
    class="input-group"
    style="padding-left: 40px; padding-right: 40px"
  >
    <span class="input-group-text">Email</span
    ><input class="form-control" type="email" />
  </div>
  <p></p>
  <div
    class="input-group"
    style="margin-left: 0px; padding-left: 40px; padding-right: 40px"
  >
    <span class="input-group-text">Contraseña</span
    ><input class="form-control" type="password" />
  </div>
  <p></p>
  <div
    class="form-check form-switch"
    style="margin-right: 258px; margin-left: 20px; padding-left: 64px"
  >
    <input
      class="form-check-input"
      type="checkbox"
      id="formCheck-1"
      style="color: rgb(6, 77, 142)"
    /><label class="form-check-label" for="formCheck-1"
      >Arrendador</label
    >
  </div>
  <div
    class="btn-group"
    role="group"
    style="
      padding-top: 0px;
      margin-top: 18px;
      padding-right: 0px;
      padding-left: 127px;
    "
  >
    <button
      class="btn btn-primary"
      type="submit"
      style="
        width: 230px;
        height: 50px;
        margin: 0px;
        padding-top: 7px;
        padding-right: 16px;
        padding-bottom: 6px;
        background: rgb(5, 66, 79);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
      "
    >
      Registrarse
    </button>
  </div>
</form>