{% extends "base.html" %}

{% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

{% block content %}

<div class="container mt-4">
  <h1>Lista de Vehículos</h1>
  
  <!-- Lista de vehículos -->


    
  <div class="row">
    {% for vehicle in vehicles %}
    <div class="col-md-3 mb-3">
        <div class="card h-50">
          
            <img src="{{ vehicle.image.url }}" class="card-img-top" alt="{{ vehicle.make }} {{ vehicle.model }}" height="150">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ vehicle.make }} {{ vehicle.model }}</h5>
                <ul class="list-group list-group-flush card_line">
                    <li class="list-group-item">
                        <i class="color_icono bi bi-calendar-event"></i> {{ vehicle.year }}
                    </li>
                    <li class="list-group-item">
                        <i class="color_icono bi bi-box-seam"></i>
                        {% for types in vehicle_type %}
                            {{ type.name }}
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        <i class=" color_icono bi bi-currency-dollar"></i> ${{ vehicle.price_daily }}
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class=" color_icono bi bi-palette"></i> <!-- Icono para el color -->
                        {{ vehicle.color }}
                    </li>
                    <li class="list-group-item">
                        <i class="color_icono bi bi-door-open"></i> <!-- Icono para las puertas -->
                        {{ vehicle.puertas }}
                    </li>
                    <li class="list-group-item">
                        <i class="color_icono bi bi-person"></i> <!-- Icono para la capacidad -->
                        {{ vehicle.capacidad }}
                    </li>
                    <li class="list-group-item">
                        <i class="color_icono bi bi-fuel-pump"></i> <!-- Icono para el combustible -->
                        {{vehicle.combustible }}
                    </li>
                    <li class="list-group-item">
                        <i class="color_icono bi bi-gear-wide"></i> <!-- Icono para el motor -->
                        {{ vehicle.motor }}
                    </li>
                    <li class="list-group-item">
                        <i class="color_icono bi bi-shield-check"></i> <!-- Icono para el tipo de freno -->
                        {{ vehicle.tipo_freno }}
                    </li>
                </ul>
                <h6 class="card-subtitle mt-3 mb-2 text-muted">Descripción:</h6>
                <p class="card-text">{{ vehicle.description }}</p>
                <div class="mt-auto">
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    
  
  <!-- Paginación (si es necesario) -->
  <!-- Paginación -->
  <div class="mt-4">
    <ul class="pagination justify-content-center">
        {% if vehicles.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Primera</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ vehicles.previous_page_number }}">Anterior</a>
            </li>
        {% endif %}
        <li class="page-item active">
            <span class="page-link">{{ vehicles.number }}</span>
        </li>
        {% if vehicles.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ vehicles.next_page_number }}">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ vehicles.paginator.num_pages }}">Última</a>
            </li>
        {% endif %}
    </ul>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Agrega cualquier script adicional que necesites -->

  {% endblock %}