{% extends "base.html" %}

{% load static %}



{% block content %}

{% comment %} <div class="container mt-4">
  <h1>Lista de Vehículos</h1>
  
  <!-- Lista de vehículos -->

  <div class="row">
    {% for vehicle in vehicles %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="listing d-block  align-items-stretch">
        <div class="listing-img h-100 mr-4">
            {% if vehicle.image.all %}
                <img src="{{ vehicle.image.first.image.url }}" class="card-img-top img-fluid" alt="{{ vehicle.make }} {{ vehicle.model }}">
            {% else %}
                <!-- Agregar una imagen de marcador de posición o mensaje si no hay imágenes relacionadas -->
                <img src="{% static "plantilla/images/vintage-car-png.webp" %}" class="card-img-top img-fluid">
            {% endif %}
        </div>
        <div class="listing-contents h-100">
          <h3>{{ vehicle.make }} {{ vehicle.model }}</h3>
          <div class="rent-price">
            <i class=" color_icono bi bi-currency-dollar"></i>
            <strong>{{ vehicle.price_daily }}</strong><span class="mx-1">/</span>day
          </div>
          <div class="d-block d-md-flex mb-3 border-bottom pb-3">
            <div class="listing-feature pr-4">
              <span class="caption"><i class=" color_icono bi bi-palette"></i></span>
              <span class="number">{{ vehicle.color }}</span>
            </div>
            <div class="listing-feature pr-4">
              <span class="caption"><i class="color_icono bi bi-door-open"></i></span>
              <span class="number">{{ vehicle.puertas }}</span>
            </div>
            <div class="listing-feature pr-4">
              <span class="caption"><i class="color_icono bi bi-person"></i> </span>
              <span class="number">{{ vehicle.capacidad }}</span>
            </div>
            <div class="listing-feature pr-4">
                <span class="caption"><i class="color_icono bi bi-gear-wide"></i></i> </span>
                <span class="number">{{ vehicle.motor }}</span>
            </div>
          </div>
          <div>
            <p>{{ vehicle.description }}</p>
            <p><a href="#" class="btn btn-primary btn-sm">Rent Now</a></p>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}
</div>
  
  
</div> {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Agrega cualquier script adicional que necesites -->

   
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="section-heading"><strong>Car Listings</strong></h2>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>    
          </div>
        </div>
        

        <div class="row">
            {% for vehicle in vehicles %}
          <div class="col-md-6 col-lg-4 mb-4">

            <div class="listing d-block  align-items-stretch">
                <div class="listing-img h-100 mr-4">
                    {% if vehicle.image.all %}
                        <img src="{{ vehicle.image.first.image.url }}" class="card-img-top img-fluid" alt="{{ vehicle.make }} {{ vehicle.model }}">
                    {% else %}
                        <!-- Agregar una imagen de marcador de posición o mensaje si no hay imágenes relacionadas -->
                        <img src="{% static "plantilla/images/vintage-car-png.webp" %}" class="card-img-top img-fluid">
                    {% endif %}
                </div>
              <div class="listing-contents h-100">
                <h3>{{ vehicle.make }} {{ vehicle.model }}</h3>
                <div class="rent-price">
                  <i class=" color_icono bi bi-currency-dollar"></i>
                  <strong>{{ vehicle.price_daily }}</strong><span class="mx-1">/</span>day
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption"><i class=" color_icono bi bi-palette"></i></span>
                    <span class="number">{{ vehicle.color }}</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption"><i class="color_icono bi bi-door-open"></i></span>
                    <span class="number">{{ vehicle.puertas }}</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption"><i class="color_icono bi bi-person"></i> </span>
                    <span class="number">{{ vehicle.capacidad }}</span>
                  </div>
                  <div class="listing-feature pr-4">
                      <span class="caption"><i class="color_icono bi bi-gear-wide"></i></i> </span>
                      <span class="number">{{ vehicle.motor }}</span>
                  </div>
                </div>
                <div>
                  <p>{{ vehicle.description }}</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Reservar</a></p>
                </div>
              </div>

            </div>
          </div>        
          {% endfor %}
          
        </div>
      </div>
    </div>
      
    </div>

    <!-- Paginación (si es necesario) -->
  <!-- Paginación -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
        {% if vehicles.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ vehicles.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        
        {% for i in vehicles.paginator.page_range %}
            <li class="page-item {% if vehicles.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
        
        {% if vehicles.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ vehicles.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ vehicles.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
    </nav>


{% endblock %}