<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RENTAME{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>

    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url "home" %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url "vehicle_list" %}">Vehiculos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">MEMBERS</a>
        </li>
      </ul>
      {% block content %}
        
      {% endblock %}
    </div>



  </body>
</html>