{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Estatic file -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>rentame</title><link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Angkor&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap" />
    <link rel="stylesheet" href="assets/css/Roboto.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&amp;display=swap" />
    <link rel="stylesheet" href="assets/css/Filter.css" />
    <link rel="stylesheet" href="assets/css/Hero-Carousel-images.css" />
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css" />
    <link rel="stylesheet" href="assets/css/Pretty-Product-List-.css" />
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form-.css" />
    <link rel="stylesheet" href="assets/css/Search-Input-Responsive-with-Icon.css" />
    <link rel="stylesheet" href="assets/css/shopping-ecommerce-products.css" />
    <link rel="stylesheet" href="assets/css/Sidebar-Menu-sidebar.css" />
    <link rel="stylesheet" href="assets/css/Sidebar-Menu.css" />
    <link rel="stylesheet" href="assets/css/Simple-galeria-de-productos-cart.css" />
    <link rel="stylesheet" href="assets/css/Simple-galeria-de-productos.css" />
    <link rel="stylesheet" href="assets/css/sticky-dark-top-nav-with-dropdown.css" />
    <link rel="stylesheet" href="assets/css/Ultimate-Sidebar-Menu.css" />

    <!-- Estatic file -->



    <title>{% block title %}RENTAME{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>

    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url "home" %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url "vehicle_list" %}">Vehiculos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">MEMBERS</a>
        </li>
      </ul>
      {% block content %}
        
      {% endblock %}
    </div>



  </body>
</html>