{% comment %} {% extends "base.html" %} {% endcomment %}

{% block content %}

<div class="container mtr-5 mb-2">
    <div class="row">
      <div class="col-md-2 col-12 border">
        <p class="lead text-center mb-0">Max Price:</p>
        <input
          type="number"
          class="form-control text-center"
          value="200"
        /><input class="form-range w-100" type="range" min="0" max="200" />
        <hr />
        <p class="lead text-center mb-0">Sort By:</p>
        <select class="form-control" name="sort">
          <option value="all" selected="">Price: Low to High</option>
          <option value="reviews">Reviews</option>
          <option value="price_high">Price: High to Low</option>
          <option value="newest">Newest Arrivals</option>
        </select>
        <hr />
        <p class="lead text-center mb-0">Gender:</p>
        <select class="form-control" name="gender">
          <option value="all" selected="">All</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="unisex">Unisex</option>
        </select>
        <hr />
        <p class="lead text-center mb-0">Brand:</p>
        <select class="form-control" name="brand">
          <option value="all" selected="">All</option>
          <option value="Nike">Nike</option>
        </select>
        <hr />
        <p class="lead text-center mb-0">Color:</p>
        <select class="form-control mb-2" name="color">
          <option value="all" selected="">All</option>
          <option value="orange">Orange</option>
        </select>
      </div>
      <div class="col-md-10 col-12">
        <!-- Start: shopping-grid -->
        <div class="shopping-grid">
          <div class="container">
            <!-- Start: Pretty Product List -->
            <div class="row product-list">
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 product-item">
                <div class="product-container">
                  <div class="row">
                    <div class="col-md-12">
                      <a class="product-image" href="#"
                        ><img
                          src="/assets/img/iphone6.jpg?h=6ddeffac27fd3bcae646faf079e4b75f"
                      /></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <h2><a href="#">iPhone 6s</a></h2>
                    </div>
                    <div class="col-4">
                      <a class="small-text" href="#">compare </a>
                    </div>
                  </div>
                  <div class="product-rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star"></i><i class="fa fa-star"></i
                    ><i class="fa fa-star-half"></i
                    ><a class="small-text" href="#">82 reviews</a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="product-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam ornare sem sed nisl dignissim, facilisis
                        dapibus lacus vulputate. Sed lacinia lacinia magna.
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-light" type="button">
                            Buy Now!
                          </button>
                        </div>
                        <div class="col-6">
                          <p class="product-price">$599.00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End: Pretty Product List -->
          </div>
        </div>
        <!-- End: shopping-grid -->
      </div>
    </div>
  </div>
  <!-- End: shopping-ecommerce-products -->

  {% endblock content %}