{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/users_tab.css' %}" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "home" %}">RENTAME SV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" href="{% url "vehicle_list" %}"><i class="bi bi-house-fill me-2"></i>Rentar un Auto</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="#"><i class="bi bi-people-fill me-2"></i>Informacion</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="#"><i class="bi bi-telephone-fill me-2"></i>Contactar</a>
        </li>
        
        <li class="nav-item dropdown rounded ">
          
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Perfil</a>
          <ul class="dropdown-menu w-150px px-3 mx-1 gx-5 dropdown-menu-end" aria-labelledby="navbarDropdown">
            
            {% if user.is_authenticated %}
            <div class="user-info">
              <h5 class="name">{{ user.first_name }}</h5>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item p-2 m-1 ui btn normal" href="{% url "perfil" %}">Mi Perfil</a>
              </li>
            </div>
              <li>
                <a class="dropdown-item p-2 m-1 ui btn normal" href="#">Configuracion de cuenta</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <li><button class="dropdown-item p-2 m-1 ui" type="submit">Cerrar sesión</button></li>
              </form>
              {% else %}
              <a class="dropdown-item p-2 m-1 ui btn normal" href="#" data-bs-target="#modal-1" data-bs-toggle="modal">Registrarse</a>
              <a class="dropdown-item p-2 m-1 ui btn normal" href="#" data-bs-target="#modal-2" data-bs-toggle="modal">Iniciar Sesión</a>
              {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
